.courseslider{
    margin-top: 50px;
    padding-bottom: 50px;
}
.divider{
    border: 2px solid rgb(232, 232, 232);
    position: relative;
}
.divider::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background: rgb(255, 57, 57);
    left: 0;
    right: 0;
    margin: auto;
}